body {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-luces-degradadas_23-2149304965.jpg'); /* Fondo de cocina */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 30px;
    color: rgb(184, 74, 74); /* Color de texto a blanco */
}

a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: cornflowerblue; /* Botón de color naranja */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}
a:hover {
    background-color: mediumpurple; /* Cambio de color al pasar el mouse */
}

h1 {
    color: darkblue;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    font-family: fantasy;
}

head{
    .container {
        text-align: center;
    }
}
